comtypes==1.1.14
cvzone==1.5.6
deepface==0.0.75
imageai==2.1.6
imutils==0.5.4
matplotlib==3.3.2
mediapipe==0.8.11
numpy==1.19.3
opencv_python==4.6.0.66
pycaw==20220416
PyQt5==5.15.7
tensorflow==2.4.0
